/* 头部 */
.logo{
	background: #fff!important;
	box-shadow: 0 0 7px rgba( 23, 71, 152 ,0.2);
}
.logo_left ul li p a{
	color: #333;
	border-bottom: 3px solid #fff;
}
.logo_left ul li p a:hover{
	color: #3860f4;
	border-color: #3860f4;
}
.earth span{
	color: #333;
}
.consoles a{
	color: #333;
}
.loginbtn{
	color: #333;
}
.registerbtn{
	border: 1px solid #3860f4;
	background: #3860f4;
	color: #fff;
}
.consoles a{
	color: #333;
	border-bottom: 3px solid #fff;
}
.consoles a:hover{
	color: #3860f4;
	border-color: #3860f4;
}
.denglu a{
	color: #333;
	border-bottom: 3px solid #fff;
}
.denglu a:hover{
	color: #3860f4;
	border-color: #3860f4;
}
.earth span:hover{
	color: #333;
}


body{
	position: relative;
	background: #f7f9fc;
}
.content{
	width: 100%;
}
.register{
	width: 60%;
	background: #FFFFFF;
	margin: 0 auto;
}

/* 轮播 */
.topbanner{
	width: 100%;
	background: #fff;
	height: 430px;
}
.topintro{
	width: 1200px;
	margin: 0 auto;
	display: flex;
}
.topin_left{
	width: 45%;
}
.left_team{
	margin-top: 90px;
}
.lefteamYI{
	display: none;
}
.leftintro{
	width: 90%;
	font-size: 14px;
	color: #999;
	margin-top: 40px;
	line-height: 25px;
}
.banbtn{
	width: 120px;
	height: 40px;
	border-radius: 3px;
	background: #3860f4;
	text-align: center;
	line-height: 40px;
	margin-top: 40px;
}
.banbtn a{
	display: block;
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	outline: none;
}
.topin_right{
	width: 55%;
	text-align: center;
}
.topin_right img{
	margin-top: 40px;
}


/* 优势 */
.advant{
	width: 100%;
	padding-bottom: 80px;
}
.advants{
	width: 1200px;
	margin: 0 auto;
}
.advteam{
	font-size: 26px;
	color: #252b3a;
	padding-top: 100px;
	text-align: center;
	font-weight: bold;
}
.advant_fir{
	padding-top: 80px;
	padding-bottom: 40px;
	display: flex;
	justify-content: space-between;
}
.firAI{
	width: 20%;
}
.firAI_left{
	text-align: center;
}
.AIteam{
	font-size: 18px;
	color: #252b3a;
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
}
.AIintro{
	font-size: 14px;
	color: #999;
	padding-top: 20px;
	line-height: 25px;
	text-align: center;
}


/* 国内流量包 */
.meal{
	width: 100%;
	background: #fff;
}
.mealteam{
	font-size: 26px;
	color: #252b3a;
	padding-top: 100px;
	text-align: center;
	font-weight: bold;
}
.meals{
	width: 1200px;
	margin: 0 auto;
	justify-content: space-between;
	margin-top: 40px;
	padding-bottom: 100px;
}
.setmeal{
	margin-top: 20px;
	margin-left: 1.6%;
	float: left;
	width: 23%;
	background: #fff;
	box-shadow: 0px 0px 20px 0px rgba( 157, 157, 157 ,0.3);
}
.setmeal:hover{
	margin-top: 18px;
	margin-bottom: 2px;
	box-shadow: 0px 0px 20px 0px rgba( 32, 97, 208 ,0.4);
}
.setmeals{
	padding: 40px;
}
.setmealteam{
	display: flex;
	padding: 28px 0;
	border-bottom: 1px solid #eaeaea;
}
.setmealteam span{
	font-size: 20px;
	color: #252b3a;
	font-weight: bold;
	line-height: 20px;
}
.setmealteam p{
	font-size: 14px;
	color: #666;
	line-height: 20px;
	padding-left: 10px;
}
.setmealadvant{
	display: flex;
	margin-top: 30px;
	height: 25px;
}
.setadimg{
	width: 60px;
	height: 26px;
	border-radius: 2px;
	margin-right: 20px;
}
.setmealadvant span{
	font-size: 24px;
	color: #FE715F;
	line-height: 25px;
}
.setmealadvant p{
	font-size: 14px;
	color: #FE715F;
	line-height: 25px;
	padding-left: 5px;
}
.setmealprice{
	display: flex;
	margin-top: 20px;
	padding-bottom: 30px;
	border-bottom: 1px solid #EAEAEA;
	position: relative;
}
.setmealprice span{
	font-size: 14px;
	color: #333;
	position: absolute;
	left: 0px;

}
.setmealprice p{
	font-size: 14px;
	color: #5981f8;
	position: absolute;
	right: 0;

}
.mealbtn{
	width: 100%;
	height: 40px;
	background: linear-gradient( -90deg, rgb(255,189,119) 0%, rgb(255,207,135) 100%);
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	color: #211201;
	border-radius: 3px;
	margin-top: 30px;
	margin-bottom: 30px;
	cursor: pointer;
	display: block;
}
.mealbtn:hover{
	color: #211201;
	background: rgb(255,189,119);
}


/* 海外流量包 */
.outmeal{
	width: 100%;
	background: #fff;
}
.outmealteam{
	font-size: 26px;
	color: #252b3a;
	padding-top: 20px;
	text-align: center;
	font-weight: bold;
}
.outmeals{
	overflow: hidden;
	width: 1200px;
	margin: 0 auto;
	justify-content: space-between;
	margin-top: 40px;
	padding-bottom: 100px;
}
.outsetmeal{
	margin-top: 20px;
	margin-left: 1.6%;
	float: left;
	width: 23%;
	background: #fff;
	box-shadow: 0px 0px 20px 0px rgba( 157, 157, 157 ,0.3);
}
.outsetmeals{
	padding: 40px;
}
.outsetmealteam{
	display: flex;
	padding: 28px 0;
	border-bottom: 1px solid #eaeaea;
}
.outsetmealteam span{
	font-size: 20px;
	color: #252b3a;
	font-weight: bold;
	line-height: 20px;
}
.outsetmealteam p{
	font-size: 14px;
	color: #666;
	line-height: 20px;
	padding-left: 10px;
}
.outsetmealadvant{
	display: flex;
	margin-top: 30px;
	height: 25px;
}
.outsetadimg{
	width: 60px;
	height: 26px;
	border-radius: 2px;
}
.outsetmealadvant span{
	font-size: 24px;
	color: #FE715F;
	padding-left: 30px;
	line-height: 25px;
}
.outsetmealadvant p{
	font-size: 14px;
	color: #FE715F;
	line-height: 25px;
	padding-left: 5px;
}
.outsetmealprice{
	display: flex;
	margin-top: 20px;
	padding-bottom: 30px;
	border-bottom: 1px solid #EAEAEA;
}
.outsetmealprice span{
	font-size: 14px;
	color: #333;
}
.outsetmealprice p{
	font-size: 14px;
	color: #999;
	padding-left: 30px;
	text-decoration:line-through;
}
.outmealbtn{
	width: 100%;
	height: 40px;
	background: linear-gradient( -90deg, rgb(255,189,119) 0%, rgb(255,207,135) 100%);
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	color: #211201;
	border-radius: 3px;
	margin-top: 30px;
	margin-bottom: 30px;
	cursor: pointer;
}


/* 体验步骤 */
.expertip{
	width: 100%;
	padding-bottom: 90px;
}
.expertips{
	width: 1200px;
	margin: 0 auto;
}
.expeream{
	font-size: 26px;
	color: #252b3a;
	padding-top: 100px;
	font-weight: bold;
	text-align: center;
}
.expretab{
	width: 62%;
	margin: 0 auto;
	padding-top: 60px;
}
.leftfir{
	width: 120px;
	padding: 0!important;
	text-align: center;
}
.layui-table th{
	text-align: center!important;
}
.layui-table td{
	text-align: center!important;
}


/* 立即体验 */
.leam{
	height: 250px;
	width: 100%;
}
.leams{
	height: 250px;
	width: 100%;
	background: #fff url(https://www.kuaikuaicdn.com/static/index/img/leambg.png) no-repeat 50% 100%;
	background-clip: content-box;
	text-align: center;
}
.lileam{
	display: inline-block;
	margin: 0 auto;
	padding-top: 150px;
}




.hbiao{
	width: 40px!important;
	animation: hborder 1s ;
}

@keyframes hborder{
	from {width: 0px;}
	to {width: 40px;}
}




